.team {
  &__grid {
    @media (min-width: @lg-width) {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "title main-text"
      "list list"
      "link-more link-more";
    }
  }

  &__title {
    @media (min-width: @lg-width) {
      grid-area: title;
    }
  }

  &__main-text {
    .text();
    margin-bottom: 20px;

    @media (min-width: @md-width) {
      .h3();
      margin-bottom: 30px;
    }

    @media (min-width: @lg-width) {
      margin-bottom: 0;
      grid-area: main-text;
    }

    & p {
      .mp();
    }
  }

  &__list {
    .list();
    @media (min-width: @md-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: @lg-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-area: list;
    }
  }

  &__link-more {
    display: flex;
    margin: 40px auto 0;

    @media (min-width: @md-width) {
      margin-top: 50px;
    }

    @media (min-width: @lg-width) {
      margin-bottom: 20px;
      grid-area: link-more;
    }
  }

  &__header {
    margin-top: 67px;

    @media (min-width: @md-width) {
      margin-top: 42px;
    }

    @media (min-width: @lg-width) {
      margin-top: 10px;
    }
  }

  &__philosophy-grid {
    @media (min-width: @md-width) {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: @gray-light;
        left: 0;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }

    @media (min-width: @xl-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  &__philosophy-title {
    @media (min-width: @md-width) {
      margin-bottom: 0;
      position: relative;
      padding: 30px 0;
      align-self: center;
    }

    @media (min-width: @xl-width) {
      align-self: flex-start;
    }
  }

  &__philosophy-grid p {
    position: relative;
    .mp();
    .text();
    color: @gray;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width: @md-width) {
      .text-2();
      padding: 30px 0;

      &:nth-child(2n) {
        padding-left: 10px;

        &::before {
          width: 1px;
          height: 100%;
          top: 0;
          left: 0;
        }

        &::after {
          display: block;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }

      &:nth-child(2n+1) {
        padding-right: 10px;
        &::after {
          display: block;
          width: 100%;
          height: 1px;
          top: -1px;
          left: 0;
        }

        &::before {
          display: none;
        }
      }
    }

    @media (min-width: @xl-width) {
      &:nth-child(2n),
      &:nth-child(2n+1) {
        padding-left: 0;
        padding-right: 0;

        &::after {
          display: none;
        }

        &::before {
          display: block;
          width: 1px;
          height: 100%;
          top: 0;
          left: -15px;
          bottom: unset;
        }
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: @gray-light;
    }

    &::before {
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
    }

    &::after {
      display: none;
    }

    &:last-child {
      &::after {
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
      }
    }
  }

  &__advantages {
    position: relative;
    background-color: @company-color;
    color: @light;
    padding: 80px 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.1;
      background-attachment: fixed;
      background-position: top center;
      background-repeat: repeat;
    }

    @media (min-width: @md-width) {
      padding: 90px 0;
    }

    @media (min-width: @xl-width) {
      padding: 100px 0;
    }
  }

  &__advantages-list {
    .list();
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    @media (min-width: @md-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    @media (min-width: @xl-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px;
    }
  }

  &__advantages-item {
    width: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 45px 40px 60px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 33% 90%, 0 90%);
    background-color: rgba(@light, 0.3);
    text-align: center;
    .text();

    @media (min-width: @md-width) {
      width: 100%;
      padding: 50px 57px 65px;
    }

    @media (min-width: @xl-width) {
      padding: 50px 23px 65px;
    }

    & .icon {
      width: 48px;
      height: 48px;

      & use.icon__symbol {
        fill: @light;
      }
    }

    & .border {
      position: absolute;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 33% 90%, 0 90%);
      background-color: @company-color;
      z-index: -1;

    }


  }

  &__leaders {
    background-color: @light;
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: @md-width) {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    @media (min-width: @lg-width) {
      padding-top: 140px;
      padding-bottom: 140px;
    }

  }

  &__other {
    & .team__item.specialist {
      display: none;

      &:nth-child(-n+4) {
        display: flex;
      }

      @media (min-width: @md-width) {
        &:nth-child(-n+6) {
          display: flex;
        }
      }

      @media (min-width: @lg-width) {
        display: flex;
      }
    }

    & .team__grid {
      @media (min-width: @lg-width) {
        grid-template-areas:
        "title main-text"
        "list list";
      }
    }

    & .team__link-more {
      @media (min-width: @lg-width) {
        display: none;
      }
    }


  }
}
