.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-image: url("../img/page/noize.png");
  background-repeat: repeat;
  background-position: top center;
  background-color: rgba(@light, 0.9);
  background-blend-mode: screen;
  transition: @transition;
  transform: translateX(-100%);

  @media (min-width: @lg-width) {
    position: static;
    top: unset;
    left: unset;
    width: auto;
    transform: unset;
    background-image: unset;
    background-repeat: unset;
    background-position: unset;
    background-color: unset;
    background-blend-mode: unset;
    grid-area: nav;
  }

  &--opened {
    transform: none;
  }

  &__wrap {
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 100vh;

    @media (min-width: @lg-width) {
      min-height: unset;
      align-items: flex-start;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__close-btn {
    position: absolute;
    top: 9px;
    right: 4px;
  }

  &__phone {
    .descriptor();
    width: 100%;
    padding: 10px;
    text-align: center;

    @media (min-width: @lg-width) {
      display: none;
    }
  }
}
