.header {
  &--main {
    margin-top: 20px;

    @media (min-width: @md-width) {
      margin-top: 110px;
    }

    @media (min-width: @lg-width) {
      margin-top: 20px;
    }

    & .header {
      &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
      "title"
      "description"
      "image1";

        @media (min-width: @md-width) {
          gap: 20px;
          grid-template-columns: 1fr 1fr;
          grid-template-areas:
      "title title"
      "description image2"
      "tags image1";
        }

        @media (min-width: @lg-width) {
          gap: 30px;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-areas:
      "title title title image2"
      "description image3 image3 image2"
      "description image3 image3 image1"
      "tags image3 image3 image1";
        }
      }

      &__title {
        margin-bottom: 15px;
        grid-area: title;

        @media (min-width: @md-width) {
          margin-bottom: 0;
        }

        & span {
          position: relative;

          @media (min-width: @lg-width) {
            tab-index: 1;
          }

          &::after {
            display: none;
            content: "";
            position: absolute;
            bottom: 5px;
            right: 0;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: @company-color;
          }

          &::before {
            display: none;
            content: "*По срокам в среднем от 1 месяца до 3 ";
            position: absolute;
            bottom: -43px;
            right: -242px;
            width: 232px;
            .text();
            color: @gray;
            background-color: @light;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 15px 15px;

          }

          &:hover,
          &:focus {
            @media (min-width: @lg-width) {
              &::after,
              &::before {
                display: block;
              }
            }
          }
        }
      }

      &__description {
        .text();
        color: @gray;
        margin-bottom: 10px;
        grid-area: description;

        @media (min-width: @md-width) {
          margin-bottom: 0;
        }
      }

      &__description p:first-child {
        margin-top: 0;
      }

      &__description-btn {
        display: flex;
        margin: 0 auto;

        @media (min-width: @md-width) {
          width: 100%;
          max-width: 355px;
          margin: 40px 0 0;
        }
      }

      &__tags {
        display: none;
        grid-area: tags;

        @media (min-width: @md-width) {
          display: block;
          align-self: flex-end;
        }
      }

      &__img-wrap {
        &--1 {
          grid-area: image1;

          & .header__img {
            aspect-ratio: 300 / 215;

            @media (min-width: @md-width) {
              aspect-ratio: unset;
              width: 100%;
              height: 243px;
            }

            @media (min-width: @lg-width) {
              min-height: 360px;
              height: 100%;
            }
          }
        }

        &--2,
        &--3 {
          display: none;
        }

        &--2 {
          grid-area: image2;

          @media (min-width: @md-width) {
            display: block;
            width: 100%;
            height: 324px;
          }

          @media (min-width: @lg-width) {
            min-height: 350px;
            height: 100%;
          }
        }

        &--3 {
          grid-area: image3;

          @media (min-width: @lg-width) {
            display: block;
            width: 100%;
            height: 100%;
            min-height: 500px;
          }
        }
      }
    }
  }

  &__title {
    .mp();
    .h1();
    text-transform: uppercase;

    & span {
      color: @company-color;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.team__header {
  & .header {
    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
      grid-template-areas:
      "title"
      "image";

      @media (min-width: @md-width) {
        gap: 20px;
      }

      @media (min-width: @xl-width) {
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "image image title title";
        padding-left: 0;
        padding-right: 0;
        max-width: unset;
        align-items: center;
      }
    }

    &__title {
      grid-area: title;

      @media (min-width: @xl-width) {
        padding-right: 20px;
        max-width: 590px;
        word-wrap: break-word; /* Перенос слов */
      }
    }

    &__img-wrap {
      grid-area: image;

      @media (min-width: @xl-width) {
        width: 100%;
      }

      @media (min-width: @max-width) {
        max-width: 1000px;
        margin-left: auto;
      }
    }

    &__img {
      aspect-ratio: 300 / 275;

      @media (min-width: @md-width) {
        aspect-ratio: 728 / 510;
      }

      @media (min-width: @xl-width) {
        aspect-ratio: 785 / 510;
      }
    }
  }
}

.service__header {
  & .header {
    &__title {
      text-align: center;
      margin-bottom: 15px;
      text-transform: none;

      @media (min-width: @md-width) {
        max-width: 585px;
        .h2();
        margin: 0 auto 20px;
      }

      @media (min-width: @xl-width) {
        grid-area: title;
        align-self: flex-end;
        text-align: unset;
        margin: 0 0 30px;
      }
    }

    &__description {
      .text-2();
      color: @company-color;
      text-align: center;
      margin-bottom: 30px;

      @media (min-width: @md-width) {
        max-width: 585px;
        margin: 0 auto 30px;
        padding: 0 60px;
        .text();
      }

      @media (min-width: @xl-width) {
        grid-area: description;
        max-width: unset;
        text-align: unset;
        .mp();
        padding-bottom: 65px;
      }
    }

    &__description-btn {
      display: flex;
      margin: 40px auto 0;

      @media (min-width: @md-width) {
        width: 100%;
        max-width: 355px;
        margin: 40px auto 0;
      }

      @media (min-width: @xl-width) {
        margin: 50px 0 0;
      }
    }

    &__img-wrap {
      width: 100vw;
      margin-left: 50%;
      transform: translateX(-50%);

      @media (min-width: @md-width) {
        width: 100%;
        margin-left: unset;
        transform: unset;
      }

      @media (min-width: @xl-width) {
        grid-area: img;
      }
    }

    &__img {
      aspect-ratio: 300 / 275;

      @media (min-width: @md-width) {
        aspect-ratio: unset;
        width: 100%;
        height: 470px;
      }

      @media (min-width: @xl-width) {
        aspect-ratio: 585 / 400;
        height: unset;
      }
    }

    &__grid {
      @media (min-width: @xl-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        grid-template-areas:
          ". img"
          "title img"
          "description img";
      }
    }
  }
}

