.reviews {
  &__list-wrap {
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;

    @media (min-width: @xl-width) {
      padding-left: calc(50vw - 580px);
    }

    @media (min-width: @max-width) {
      .container();
    }
  }

  &__list {
    .list();
  }

  & .swiper-slide {
    height: auto;
  }

  &__item {
    .mp();
    padding: 20px 20px 45px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 33% 90%, 0 90%);
    background-color: @gray-light;


    @media (min-width: @md-width) {
      padding: 30px 30px 55px;
    }

    & .border {
      position: absolute;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 33% 90%, 0 90%);
      z-index: -1;
      background-position: top left;
      background-repeat: repeat;
      background-attachment: fixed;

    }
  }
}
