.page {
  &__wrap {
    .container();
  }

  &__section {
    margin-bottom: 80px;

    @media (min-width: @md-width) {
      margin-bottom: 100px;
    }

    @media (min-width: @lg-width) {
      margin-bottom: 140px;
    }
  }

  &__subtitle {
    .mp();
    .h2();
    margin-bottom: 30px;

    @media (min-width: @md-width) {
      margin-bottom: 40px;
    }
  }
}
