body {
  background-image: url("../img/page/noize.jpg");
  background-size: 768px;
}

.main-nav {
  background-image: url("../img/page/noize.jpg");
  background-size: 768px;
}

.application::after,
.team__advantages::after {
  background-image: url("../img/page/noize.png");
  background-size: 595px;
}

.complexes__item::after,
.complexes__item::before {
  background-image: url("../img/page/noize.jpg");
  background-size: 768px;
}

.reviews__item .border {
  background-image: url("../img/page/noize.jpg");
  background-size: 768px;
}

.webp {
  & body {
    background-image: url("../img/page/noize.webp");
    background-size: 768px;
  }

  & .main-nav {
    background-image: url("../img/page/noize.webp");
    background-size: 768px;
  }

  & .application-sent::after,
  .free-property::after {
    background-image: url("../img/page/noize.png");
    background-size: 595px;
  }

  & .complexes__item::after,
  & .complexes__item::before {
    background-image: url("../img/page/noize.webp");
    background-size: 768px;
  }
}

.page {
  &__wrap {
    .container();
  }

  &__section {
    margin-bottom: 105px;

    @media (min-width: @md-width) {
      margin-bottom: 100px;
    }

    @media (min-width: @lg-width) {
      margin-bottom: 140px;
    }
  }

  &__subtitle {
    .mp();
    .h2();
    margin-bottom: 30px;

    @media (min-width: @md-width) {
      margin-bottom: 40px;
    }
  }

  &__h3 {
    .mp();
    .h3();
    margin-bottom: 30px;

    @media (min-width: @md-width) {
      .h2();
    }

    @media (min-width: @lg-width) {
      margin-bottom: 40px;
    }

    & span {
      color: @company-color;
    }
  }
}
