.site-nav {
  &__title {
    display: none;
  }
  &__list {
    .list();
    display: flex;
    flex-direction: column;
  }
  &__item a {
    display: inline-block;
    position: relative;
    color: inherit;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: @gray-light;
      transform: translateX(-50%);
      transition: @transition;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: @company-color;

      @media (min-width: @lg-width) {
        &::before {
          width: 100%;
          background-color: @dark;
        }
      }
    }

    &:focus {
      outline-color: @company-color;
      @media (min-width: @lg-width) {
        outline: none;
      }
    }
  }

}

.main-header {
  & .site-nav {
    width: 100%;
    margin-bottom: 20px;

    @media (min-width: @lg-width) {
      width: unset;
      margin-bottom: 0;
    }

    &__list {
      gap: 20px;
      .descriptor();

      @media (min-width: @lg-width) {
        .navi-title();
        flex-direction: row;
        gap: 40px;
      }
    }

    &__item {
      text-align: center;
    }

    &__item a {
      display: block;
      width: 100%;
      padding: 10px;

      @media (min-width: @lg-width) {
        padding: 0;
        width: unset;
      }
    }
  }
}

.main-footer {
  & .site-nav {

    .mp();
    margin-bottom: 30px;

    @media (min-width: @md-width) {
      margin-bottom: 0;
      grid-area: nav;
    }

    &__list {
      gap: 5px;
    }

    &__title {
      display: block;
      .mp();
      .text();
      color: @dark;
      margin-bottom: 15px;
    }
  }


}
