.main-header {
  &__wrap {
    position: relative;
    .container();
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .logo {
    & .icon {
      width: 40px;
      height: 66px;
    }
  }

  & .burger {
    & .icon {
      width: 25px;
      height: 20px;
    }
  }

}
