.main-header {


  &__wrap {
    position: relative;
    .container();
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: @md-width) {
      column-gap: 20px;
    }

    @media (min-width: @lg-width) {
      display: grid;
      grid-template-columns: 1fr 54px 1fr;
      grid-template-areas: "nav logo contacts";
      column-gap: 18px;
      padding-top: 30px;
      padding-bottom: 20px;
    }
  }

  & .logo {
    & .icon {
      width: 40px;
      height: 66px;
    }

    @media (min-width: @md-width) {
      & .icon {
        width: 54px;
        height: 89px;
      }
    }

    @media (min-width: @lg-width) {
      grid-area: logo;
    }


  }

  &__contacts {
    display: none;

    @media (min-width: @md-width) {
      display: block;
      margin-left: auto;

      & .phone-number {
        .navi-title();
        padding: 10px;
        display: block;
        position: relative;

        @media (min-width: @lg-width) {
          padding: 0;

          &::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: @gray-light;
            transform: translateX(-50%);
            transition: @transition;
          }

          &:hover,
          &:focus {
            text-decoration: none;
            outline: none;
            &::before {
              width: 100%;
              background-color: @company-color;
            }
          }
        }
      }
    }

    @media (min-width: @lg-width) {
      grid-area: contacts;
    }
  }

  & .burger {
    order: 1;

    & .icon {
      width: 25px;
      height: 20px;
    }
  }
}

.page--inner {
  & .main-header {
    &__wrap {
      padding-top: 20px;
      padding-bottom: 20px;

      @media (min-width: @md-width) {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      @media (min-width: @md-width) {
        padding-top: 30px;
        padding-bottom: 20px;
      }
    }
  }
}
